body {
  margin: 0;
}
.character_list li a img {
  width: 300px;
  height: 300px;
}
.theater_list tbody tr:first-child {
  background-color: pink;
}
.theater_list {
  width: 100%;
}


/* ローディング画面 */

.loading {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #c4e4ff;
  display: flex;
  justify-content: center;
}
.loading_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.step {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footprint {
  width: 30px;
  height: 30px;
  opacity: 0;
  animation-name: footprint_fade;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}
.step1 {
  position: relative;
  left: -5px;
  rotate: 10deg;
  animation-delay: 1.2s;
}
.step2 {
  position: relative;
  left: 10px;
  rotate: 10deg;
  animation-delay: 0.8s;
}
.step3 {
  position: relative;
  left: -10px;
  rotate: -10deg;
  animation-delay: 0.4s;
}
@keyframes footprint_fade {
  0% { opacity: 0; }
  50% { opacity: 1; transform: scale(1); }
  100% { opacity: 0; transform: scale(0.95); }
}
.loading_wrapper p {
  animation-name: loading_p_fadein;
  animation-duration: 1s;
  font-family: "IM Fell Great Primer SC", serif;
}
@keyframes loading_p_fadein {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
.loading_fadeout {
  transition: opacity 0.5s ease;
  opacity: 0;
}

