body {
  display: flex;
  justify-content: center;
}

.character_list li a img {
  width: 300px;
  height: 300px;
}

.theater_list tbody tr:first-child {
  background-color: pink;
}

.theater_list {
  width: 100%;
}
