body {
  display: flex;
  justify-content: center;
}

.character_list li a img {
  width: 300px;
  height: 300px;
}

.theater_list tbody tr:first-child {
  background-color: pink;
}

.theater_list {
  width: 100%;
}

.step1 {
  transform: scale(0.95);
}
.step2 {
  transform: translate(38px, 22px) rotate(8deg) scale(0.95);
  animation-delay: 0.4s;
}
.step2 {
  transform: translate(18px, 44px) rotate(-12deg) scale(0.95);
  animation-delay: 0.8s;
}

